<template>
  <div class="home">
    <h1 class="font-weight-light">Fencing & Results</h1>
    <home-video-vue/>
    <last-events-home-vue/>
  </div>
</template>

<script>
import HomeVideoVue from "../components/HomeVideo.vue";
import LastEventsHomeVue from "../components/LastEventsHome.vue";

export default {
  components: {
    HomeVideoVue,
    LastEventsHomeVue
  }
};
</script>

<style>
.home h1 {
  color: whitesmoke;
}
</style>
