<template>
  <section class="last-events-home">
    <p>LAST COMPETITIONS</p>

    <ul>
      <li v-for="event in displayEvents" :key="event.id">
        <span v-if="!event.points || !event.rank">{{event.name}}</span>
      </li>
    </ul>
  </section>
</template>

<script>
import { EventsService } from "../services/EventsService.js";

export default {
  data() {
    return {
      events: []
    };
  },
  computed: {
    displayEvents() {
      return this.events.slice(1, 6);
    }
  },
  mounted() {
    const service = new EventsService();
    service
      .getAll()
      .then(data => (this.events = data))
      .catch(() => this.$router.push("/"));
  }
};
</script>

<style>
.last-events-home {
  background-color: whitesmoke;
}
</style>
