<template>
  <div class="teams-list">
    <router-link :to="{name:'team', params: {id:team.id}}">
      <li class="row">
        <span class="col-2">{{team.name}}</span>
        <div class="col-10">
          <v-avatar size="20">
            <v-img :src="team.flag" :alt="team.name"/>
          </v-avatar>
        </div>
      </li>
      <br>
    </router-link>
  </div>
</template>

<script>
export default {
  props: {
    team: Object
  }
};
</script>

<style>
</style>
