<template>
  <v-app>
    <div id="app" class="appBackGround">
      <header-vue/>
      <v-layout mt-5 mb-3>
        <v-flex mt-5>
          <router-view/>
        </v-flex>
      </v-layout>
      <footer-vue/>
    </div>
  </v-app>
</template>

<script>
import HeaderVue from "./components/Header.vue";
import FooterVue from "./components/Footer.vue";

export default {
  name: "App",
  components: {
    HeaderVue,
    FooterVue
  },
  data() {
    return {
      //
    };
  }
};
</script>

<style>
.appBackGround {
  background-image: url("assets/images/bg-fencing.jpg");
  background-size: cover;
  /* height: auto; */
}
a {
  text-decoration: none !important;
  outline: none;
  color: black !important;
}
video {
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
}
main {
  background-color: white;
  height: 100vh;
}
section {
  background-color: white;
}
h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  padding-top: 10px;
  padding-left: 15px;
  width: 80%;
}
</style>
